body{

font: 90% arial,verdana,helvetica,sans-serif;
 	/*width: 960px;*/
 	margin: 0 auto;
 	background: #D9E3EE;
 	}

header{
	background: -webkit-linear-gradient(#fdfdfd  #cdcdcd);
	height: 150px;
	border: thin solid blue;
}

header img{
	float:left;
	}
header h1{
	color: #D36EE3 ;
	text-align: center;
	font-size: 1.4em;
	font-style: italic;
	font-weight: bold;
	float:center;
}
header nav ul li{
display: inline;
margin: 20px 40px 0px 40px;
line-height: 40px;
font-size: 1.4em;
padding: 50px;
}

header nav ul li a{
text-decoration: none;
}

header nav ul li a:hover{

	color:#F1C40F;/* pone el texto en color*/
	border-bottom: medium solid blue;
	padding: 10px;
}
 
 div{
text-align: center;
font-size: 2em;
color:white;
padding-top: 50px;
background: -webkit-linear-gradient(left,#B75FCF  10%,#6252EE );
margin: 30px 0px 30px 600px;
height: 120px;
width: 600px;
border: thin solid #6252EE;
border-radius: 11px 11px 11px 11px;

}

section p:first-letter{

	font-size: 2em;
	color: white;
}
section{
width: 1000px;
height: 360px;
/*background:red;*/
font-weight: bold;
float:left;
font-size: 1.5em;
padding: 20px;
-webkit-column-count: 2;/* Pone dos columnas al texto*/
-webkit-column-rule: 2px solid silver;/*Pone el borde entre las columnas*/

}
aside{
	/*background: green;*/
	/*border: medium solid #839192 ;
	border-bottom: solid medium red;
	border-radius: 11px;*/
float:left;
/*width: 300px;
height: 390px;*/
}
.lateral1{
background:#E8DAEF;
box-shadow: 7px 7px 12px black;
border-radius: 11px 11px 11px 11px;
margin: 10px;
padding: 20px 40px 35px 40px;
width: 300px;
height: 390px;
}
aside h3{
	color:black;
	text-align: center;
	font-size: 0.7em;
	border-bottom: solid medium #839192;
	/*border: medium solid green;*/
}
aside ul li{
font-size: 0.7em;
text-align: center;
padding: 17px;
}
aside ul li a{
	text-decoration: none;
}
footer{
	background:black;
	float:left;
	color: white;
	width: 2000px;
	height: 100px;
	text-align: center;
	font-size: 2em;
	padding-top:50px;
}