body{

 	font: 90% arial;
 	width: 1100px;
 	margin: 0 auto;
 	/* border: thin solid red; */
 	/*background: green 30%;
 	background: linear-gradient(#f69d3c, #3f87a6);*/
 	background-color: #F2F3F4  
	

 }

 header div img{

	float: right;

}

@font-face{

	font-family: "miletra";
	src:url("Lewishandsemibold.ttf");
}

 

header img{
	float:left;
}


header h1{

	font-size: 6em;
	text-align: center;
	font-family: "miletra";
	color:red;
	font-weight: bold;
}




/*h2{

	text-align: center;
	font-size: 2em;
	color: blue;
}*/


h4{

	font-size: 1.9em;
	text-align: center;
}

.izq{

float:left;
text-align:left; ; 
padding: 20px;
font-size: 1.1em;
margin:0px 25px;
padding: 30px;
border-radius: 11px 11px 11px 11px;
box-shadow: 7px 7px 12px #808B96;

}
.izq label{

	color: #800000;
	text-align:right;
	font-size: 1em;
}

.izq legend{

	color: blue;
	font-size: 1.5em;
}

/*.izq p {
	color:red;
	text-align:right;
	font-size: 1em;

}*/
.izq input{
	height: 20px;
	font-size: 1em;
	color:red;
}

.sexo{
margin: 20px;
border-radius: 11px 11px 11px 11px;
box-shadow: 7px 7px 12px #808B96;

}

.sexo p{
	color: grey;
	text-align:left;
}

.dcha{

width:540px;
border-radius: 11px 11px 11px 11px;
box-shadow: 7px 7px 12px #808B96;
height: 600px;


}

.dcha legend{

	color: blue;
	font-size: 1.5em;

}
.dcha p {

	color: green;
	font-size: 1em;
	

}

.dcha input{
	height: 20px;
	font-size: 1em;
}

.dcha label{
	/*color: orange;*/
	font-size: 1.5em;
}





.botones input{
width: 100px;
height: 40px;
font-size: 1em;
background-color: #B2BABB;
margin: 0px 200px 0px 20px;
}







