body {
    font: 120% arial,sans-serif; /*tamaño fuente para todo el body*/
    width: 1060px; /* tamaño del body a lo ancho*/
    margin: 0 auto; /* margen exterior del body a lo ancho*/
    border: thin solid black; /* pone el bode con grosor, solido y de color */
  /*  border-style: solid;*/
 /*  border-color: black;*/
    background: #C0C0C0;
    /* #212F3C;*/
    /*#D7F0F0; /*pone el color de fondo a toda la pantalla, no solo al body*/

   
}


header h1 {
    
    color: red;
    font-size: 3.5em;
    text-align: center;
    text-shadow: 3px 3px 2px black;
}

.Uno {
    padding: 0px;
    display: inline-block;
    position: absolute;
    font-family: fantasy;
    color: #3C3734;
    text-align: center;
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 0px;
}
.dos iframe {
    background-color:red;
    
}

.dos embed{

     filter:drop-shadow(0 0 10px rgba (0, 0, 0, .8))

}

section {
    padding: 10px;
    color: #000080;
    
}
volver a {
    color: white;
    font-size: 3.5em;
}

style{
    background-color:red;
}

.lado{
display;

}

