 body{
	font:120% arial,sans-serif;/*tamaño fuente para todo el body*/
	width: 960px; /* tamaño del body a lo ancho*/
	margin: 0 auto; /* margen exterior del body a lo ancho*/
	border: thin solid black; /* pone el bode con grosor, solido y de color */
	/*border-style: solid;
	border-color: black;*/
	background: #D7F0F0;/*pone el color de fondo a toda la pantalla, no solo al body*/
}

header h1{
color: #E8B11E;
font-size: 3.5em;
text-align: center;
text-shadow: 3px 3px 2px red;
}


 div.dimension{
	height: 190px;
	width: 660px;
	background: linear-gradient(#f69d3c, #3f87a6);
	float:right;
	padding-top: 60px;

}
header nav{
		background-color: black; /* el nav ocupa todo el espacio por debajo ya que los elementos flotan el header div y el img*/
		clear: both;/* anula la propiedad float de los elementos nav img y header div y se ajusta al tamaño del nav*/
		text-align: center;
		
	}
header h1{

	text-align: center;
}


header nav li{
display: inline;
}
nav a{
	text-align: center;
	text-decoration: none;
	color: #FFF8DC;
	font-weight: bold; 
	}

	nav li :hover{

		color: green;
		text-decoration: underline;
	}

div.uno{
	margin-top:0px;
	font-size: 1.5em;
	text-align: center;
	color: #566573  ;
	font-weight: bold;
}
div.dos{
	 border-radius: 20px;
	width:700px;
	background: linear-gradient(#7FB3D5, #FFFFFF);
	float: right;
	height: 400px;
}
div.dos p {
	text-align: center;
}
div.dos img {
	border-style: thin;
    border-radius: 20px;
    border-width: 10px;
    margin-left: 200px;
     /*border-top-style: dashed; borde a trozos*/
}




div.tres {

	height: 400px;
	background:orange; 
	width: 250px;
	background: linear-gradient(#7FB3D5, #FFFFFF);
	 border-radius: 20px;
}

div.tres p {
padding: 5px;
font-size: 1em;
font-weight: bold; 
color: #566573;
text-align: center;

}
div.tres ol{

list-style: none;

}
.tres ol li:nth-child(even){

background-color: red;

margin-right:40px;
text-align: center;
}
div.cuatro{
margin-top: 10px;
width: 960px;

}
div.cuatro p{

	color: #566573 ;
	text-align: center;
	font-size: 1.5em;
}
section{
	background: #ECF0F1;
	/*width: 600px;*/
	/*float:left;*/
	/*margin: 10px 10px 10px 10px;*/
	padding: 10px;
}
section article{
	display: table-cell;
	padding: 10px;
	cursor:wait;

}
section article h3{

	border-bottom:medium solid #7F8C8D;

}
section article a {

	text-decoration: none;
}

section article a:hover{/* separa las letras*/

	color:red;
	letter-spacing: 10px;
}
footer{

	background: black;
	color:white;
	text-align: center;
}
footer a{

	text-decoration: none;
	color:white;


}